
      h1{border-style:solid;
	     border-color:skyblue;
	     background-color:skyblue;
	     height:50px;
	     padding-top:10px;
	     padding-left:500px;
		 padding-right:500px;
		 height:200px;
		 font-size:35px
		 text-align:center;}
	  a{
	text-decoration:none;
	padding-right:10px;
	font-size:20px;
	padding-left:-5px;
	
	}
	 
	  padding-left:200px;
	}
	
	ul{ 
		margin-left:500px;
		}
	 h2{background-color:skyblue;
	    height:50px;
		padding-left:550px;
		padding-top:50px;}
		
	p{text-align:center;
	color:black;}